ul {
  list-style-type: none;
}

.display-flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.w-100 {
  width: 100%;
}

.slide-wrapper {
  overflow: hidden;
}

.slide {
  display: flex;
}

.slide:hover {
  will-change: transform;
}

.slide li.active {
  opacity: 1;
  transform: scale(1);
}
